# Игнорировать каталог виртуального окружения
venv/

# Игнорировать скомпилированные файлы Python
__pycache__/
*.pyc

# Игнорировать другие файлы и папки, которые не должны попасть в Git
.DS_Store
Thumbs.db
*.log
*.csv 
*.tmp
